.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0;
    font-size: 30px;
    background-color: rgba(110, 110, 110, 0.196);
}

.topSpan{
    font-size: 40px;
}